<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>OpenScape UC Touch</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}sencha-touch-beta-0.93/resources/css/ext-touch.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/osucweb.css" type="text/css">
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}sencha-touch-beta-0.93/ext-touch-debug.js"> </script>
	<!--
	<script type="text/javascript" src="{{ STATIC_URL }}sencha-touch-beta-0.93/ext-touch.js"> </script>
	-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/osuc.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/data/contact.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/data/journal.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/data/presence.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/data/device.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/data/profiles.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/login.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/contacts.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/journal.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/my_status.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/devices.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/profiles.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/location.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/tabpanel.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/geo/latlng.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/geo/geo.js"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/init.js"> </script>
</head>
<body></body>
</html>
